@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Nunito+Sans:opsz@6..12&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lilita+One&family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Josefin+,Sans:wght@600&family=Lilita+One&family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cinzel:wght@500&family=Josefin+Sans:wght@600&family=Lilita+One&family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
   max-width: 100%;
   margin: 0px;
   padding: 0px;
}

body {
   width: 100%;
   overflow-x: hidden;
}

/* .logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
}
.logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.card {
   padding: 2em;
}

.read-the-docs {
   color: #888;
} */

.nav {
   transition: ease-in-out 1.6s;
}

.font {
   font-family: "Josefin Sans", sans-serif;
}
.nav-active {
   background-color: brown;
}

.rubik {
   font-family: "Nunito Sans", sans-serif;
}

.lpb {
   font-family: "Cinzel", serif;
   word-spacing: 2px;
}
.cinzel {
   font-family: "Cinzel", serif;
}

/* .link:hover {
   scale: ;
} */
.link {
   transition: ease-in-out 0.2s;
}

.pp {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

.animation {
   height: 50px;
   overflow: hidden;
}

.animation > div > div {
   display: inline-block;
   transition: ease-in-out 2s;
}

.animation div:first-child {
   animation: text-animation 16s ease-in-out infinite;
}

@keyframes text-animation {
   0% {
      margin-top: 0rem;
   }
   5% {
      margin-top: 0rem;
   }
   10% {
      margin-top: -3rem;
   }
   15% {
      margin-top: -3rem;
   }
   20% {
      margin-top: -6rem;
   }
   25% {
      margin-top: -6rem;
   }
   30% {
      margin-top: -9rem;
   }
   35% {
      margin-top: -9rem;
   }
   40% {
      margin-top: -12rem;
   }
   45% {
      margin-top: -12rem;
   }
   50% {
      margin-top: -12rem;
   }

   55% {
      margin-top: -12rem;
   }

   60% {
      margin-top: -12rem;
   }
   65% {
      margin-top: -9rem;
   }
   70% {
      margin-top: -9rem;
   }
   75% {
      margin-top: -6rem;
   }
   80% {
      margin-top: -6rem;
   }
   85% {
      margin-top: -3rem;
   }
   90% {
      margin-top: -3rem;
   }
   95% {
      margin-top: 0rem;
   }
   100% {
      margin-top: 0rem;
   }
}

.lilita {
   font-family: "Acme", sans-serif;
}

.hel {
   /* filter: drop-shadow(2px 2px 4em #61dafbaa); */
   text-shadow: horizontal-offset vertical-offset blur-radius color;
}

